/**
 * HCWLP Front CSS Styles
 */

.hcwlp-pattern {
	position: relative;
	width: 35px;
	height: 35px;
	background-size: cover;
	background-position: center
}
.hcwlp-pattern div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    border-bottom: 35px solid;
    border-left: 35px solid transparent
}

#hcwlp-variation {
	display: flex;
	align-items: center;
	margin: 20px 0 0;
	padding: 0;
	width: 100%;
	background: url('../img/chevron-right.svg') no-repeat right;
	background-size: 20px;
	border-bottom: 1px solid #DDD;
	cursor: pointer;
	font-size: 1.05em;
	color: #3a3a3a
}

#hcwlp-variation li {
	list-style-type: none;
	margin: 12px 0;
	padding: 0
}
#hcwlp-variation li:nth-last-child(2) {
	margin: 0 15px 0 auto;
	text-align: right
}
#hcwlp-variation b {
	font-weight: 500
}
#hcwlp-variation .hcwlp-pattern {
	margin-right: 30px
}

#hcwlp-products {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	gap: 10px 5px;
	margin: 0;
	padding: 0;
	width: 100%
}
#hcwlp-products li {
	list-style-type: none;
	margin: 0;
	padding: 8px;
	width: calc(50% - 5px);
	border: 1px solid transparent;
	transition: border .1s linear
}
#hcwlp-products li:hover,  #hcwlp-products li.active {
	border: 1px solid #4B4F58
}
#hcwlp-products li img:first-of-type {
	width: 100%
}
#hcwlp-products h3 {
	display: flex;
	align-items: center;
	margin: 10px 0 0 0;
	padding: 0;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase
}
#hcwlp-products .hcwlp-pattern {
	margin-right: 8px;
	width: 12px;
	height: 12px
}
#hcwlp-products .hcwlp-pattern div {
    border-bottom: 12px solid;
    border-left: 12px solid transparent
}